<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>detail</key>
		<string>build old photo color effect</string>
		<key>name</key>
		<string>sepia</string>
		<key>preview</key>
		<string>sepia.png</string>
	</dict>
	<dict>
		<key>detail</key>
		<string>negate the colors</string>
		<key>name</key>
		<string>negate</string>
		<key>preview</key>
		<string>negate.png</string>
	</dict>
	<dict>
		<key>detail</key>
		<string>the effect achieved in a photo darkroom by selectively exposing areas of photo sensitive paper to light (LONG TIME)</string>
		<key>name</key>
		<string>solarize</string>
		<key>preview</key>
		<string>solarize.png</string>
	</dict>
</array>
</plist>
