<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>detail</key>
		<string>Remove advertisement bar </string>
		<key>name</key>
		<string>Upgrade to Pro </string>
		<key>preview</key>
		<string>nil</string>
	</dict>
</array>
</plist>
